.password_page {    
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 50px;
    background-color: transparent;
    text-align: center;
}

.title_input {
    color: #e8e8e8;
}

.input_container {
    position: relative;
    width: 350px;
    margin: 0 auto 50px;
}

.input {    
    width: 280px;
    border: 2px solid #e8e8e8;
    padding: 10px;
    padding-right: 50px;
    border-radius: 10px;
    background-color: #212121;
    color: #e8e8e8;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.input:focus {
    outline-color: white;
    background-color: #212121;
    color: #e8e8e8;
    box-shadow: 5px 5px #888888;
}

.input_icon {
    position: absolute;
    top: 6px;
    right: 8px;
    cursor: pointer;
}

.help_button {
    position: relative;
    width: 12em;    
    height: 4em;
    margin-bottom: 40px;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: #e8e8e8;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.help_button::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    /* background-color: rgba(0, 0, 0, .05); */
    transition: 0.5s;
    transform-origin: center;
}

.help_button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    /* background-color: rgba(0, 0, 0, .05); */
    transition: 0.5s;
}

.help_button:hover::before,
.help_button:hover::after {
    transform: scale(0)
}

.help_button:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
}

.help_box {  
    height: 30px;
    width: 340px;
    margin: 0 auto 20px;
    padding: 10px;
    border: 3px ridge #149CEA;  
    border-radius: 0.3em;

    background-color: transparent;
    color: #e8e8e8;
    
    
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;

    opacity: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: all 2s linear;   
}

p {
    margin: 0;
    padding: 0;
}

.help_box_extra_height {
    height: 60px;
}

.help_box_active {    
    opacity: 1;    
    transform: scaleX(1);
}

.btn-class-name {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    --primary: 255, 90, 120;
    --secondary: 150, 50, 60;
    width: 60px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    outline: 10px solid rgb(var(--primary), .5);
    border-radius: 100%;
    
    opacity: 0;
    transition: all 2s linear;    
}

.btn-class-name-active {
    opacity: 1;
}

.btn-class-name .back {
    background: rgb(var(--secondary));
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.btn-class-name .front {
    background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
    box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
    border-radius: 100%;
    position: absolute;
    border: 1px solid rgb(var(--secondary));
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: inherit;
    transform: translateY(-15%);
    transition: .15s;
    color: rgb(var(--secondary));
}

.btn-class-name:active .front {
    transform: translateY(0%);
    box-shadow: 0 0;
}

@media screen and (min-width: 767px) {
    .password_page {
        padding-top: 150px;
    }

    .input_container {
        width: 434px;
    }

    .input {
        width: 365px;
    }

    .help_box {
        width: 434px;       

        font-size: 20px;
    }
}